.NavbarHeadItem {
  font-size: 14px;
  color: #085d9e;
  font-family: "Poppines, sans-serif";
}
.NavbarSubHeadItem {
  font-size: 16px;
  color: #085d9e;
  font-family: "Poppins, sans-serif";
}
.NavbarChevronIcon {
  font-size: 13px;
  color: #085d9e;
}
