.swiper-button-next,
.swiper-button-prev,
.swiper-button-mid {
  color: white;
  background: rgba(247, 247, 247, 0.623);
  width: 40px;
  height: 40px;
  border-radius: 12%;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.swiper-button-next:after,
.swiper-button-prev:after .swiper-button-mid:after {
  font-size: 20px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 0px !important; /* makes them rectangles, not circles */
  background-color: #bbb;
  opacity: 0.5;
  transition: all 0.3s ease;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(to right, #085d9e, #00c1de); /* active line */
  opacity: 1;
}

/* .custom-shape-divider-bottom-1749638402 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1749638402 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 143px;
}

.custom-shape-divider-bottom-1749638402 .shape-fill {
  fill: #1273be;
} */
